/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28-Mar-2024, 5:29:34 pm
    Author     : hp
*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    background-color:#FF7171;
    overflow: hidden;
    text-align: center;
    position: relative; 
    width: 100%; 
    box-sizing: border-box; 
  }
  
  nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
    .menu-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 24px; 
    color: black;
    margin-left: 10px; 
  }
  
  .menu-icon img {
    vertical-align: middle;
    width: 24px; 
  }
  
.container{
    display: flex;
}
.box1{
    background-color:#FFDBE7;
    height: 500px;
    width: 900px;
   
    
}
.box2{
  
    height: 500px;
    width: 800px;
}

.a2{
    margin: 20px 100px;
   display: flex;
}
.a3{
    background-color: #FF7171;
    width: 400px;
    height: 250px;
    margin-left: 100px;
    margin-top: 120px;
}
.main{
    margin-top: 20px;
    background-color:#FFDBE7;
    height: 550px;
    width: 1700px;
    
}
.p1{
    margin-left: 20px;
}
.p2{
    display: flex;
}